{% extends "base.html" %}

{% block content %}

    <div id="options">
        <ul>
            <li><a href="#">New</a></li>
            <li><a href="#">Edit</a></li>
            <li><a href="#">Paid</a></li>
            <li><a href="#">Delete</a></li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Export</a></li>
            <li><a href="#">Statistics</a></li>
        <ul>
    </div><!--end options-->

    <div id="bills">

        <table id="myTable">
            <colgroup></colgroup>
            <colgroup></colgroup>
            <colgroup></colgroup>
            <colgroup></colgroup>
            <colgroup></colgroup>
            <colgroup></colgroup>

            <thead>	
                <tr>
                    <th>Action</th>
                    <th>Due Date</th>
                    <th>Amount</th>
                    <th>Payee</th>
                    <th>Description</th>
                    <th>Category</th>
                </tr>
            </thead>

            <tbody>

                {% for entry in latest %}
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>{{ entry.due_date|date:"F j, Y" }}</td>
                        <td>{{ entry.amount_due }}</td>
                        <td>{{ entry.payee }}</td>
                        <td></td>
                        <td></td>
                    </tr>

                {% endfor %}

            </tbody>
        </table>

    </div><!--end bills-->
    <div id="footer">
        <p><a href="#">Back to the top</a></p>
    </div>

{% endblock %}
