<head>
    <meta charset="UTF-8">
    <title>WebReminder: {% block title %}{% endblock %}</title>
    <link media="screen" href="/site_media/css/styles.css" type="text/css" rel="stylesheet" />

    <script src="http://www.google.com/jsapi" type="text/javascript"></script>

    <script type="text/javascript">
        google.load("jquery", "1.3.2");
    </script>

    <script type="text/javascript" src="/site_media/js/highlight.js"></script>
    <script type="text/javascript" src="/site_media/js/table.js"></script>
    <script type="text/javascript">
        $(document).ready(function() 
            { 
                $("#myTable").tablesorter(); 
            } 
        ); 
    </script>

</head>
